<div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-4">
        <h5>Подсказка - Вводите правильные форматы ссылок</h5>
        <form role="form" method="POST" action="/saveHref">
            <input type="hidden" name="id" value="{{.Id}}"/>
            <div class="form-group">
                <label>Обычная ссылка</label>
                <input type="text" class="form-control" id="longHref" name="longHref" value="{{.LongHref}}"/>
            </div>
            <div class="form-group">
                <label>Короткая ссылка</label>
                <input type="text" class="form-control" id="shortHref" name="shortHref" value="{{.ShortHref}}"/>
            </div>
            <button type="submit" class="btn btn-default">Сохранить</button>
        </form>
    </div>
</div>

