    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <h1>Сервис по созданию коротких ссылок</h1>
            <p>Возможности:</p>
            <ul>
                <li>сохранить короткое представление заданного URL</li>
                <li> перейти по сохраненному ранее короткому представлению и получить redirect на соответствующий исходный URL</li>
            </ul>
        </div>
        <div class="col-xs-2">
        </div>
    </div>


